 section{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
    gap: 2rem;
    padding: 2rem;
    /* background-color: black; */
    /* border: 2px solid red; */
 }
 