 .profilediv{
 display: flex;flex-direction: column;
 gap: 2rem;
 color: hotpink;
 align-items: center;
 /* height: 80vh; */
 justify-content: center;
 height: 80vh;
 /* border: 2px solid red; */
 padding: 3rem;
 }