.midh1{
    color: white;
     font-size: 3.5rem;
}
.midsec{
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;justify-content: center;
}
.midh1 span{
    color: hotpink;
}